{% extends 'PiloteCoreBundle::piloteLayout.html.twig' %}
{% block rootStylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('pilote/css/admin.css') }}" />
{% endblock %}
{% block asideMenu %}
<aside class="asideMenu adminAsideMenu">
    <p>This is admin</p>
    <ul class="piloteAdminSideMenu">
        <li class="particleEntry directLink">
            <a href="{{ path('pilote_doe_homepage') }}"><span class="menuLabel">D.O.E.</span></a>
        </li>
    </ul>
</aside>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pilote/js/doeUI.js') }}" ></script>
{% endblock %}